<div class="jumbotron text-center">
  <h1>MEAN App</h1>
  <p class="lead">Welcome to My MEAN Application </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>MongoDB</h3>
    <p>MongoDB is a NoSQL database that stores data in JSON-like documents. 
      It offers flexibility and scalability, making it suitable for handling large volumes of 
      unstructured or semi-structured data.</p>
  </div>
  <div class="col-md-4">
    <h3>Express</h3>
    <p> Express is a minimalist web application framework for Node.js. It provides a set of powerful 
      features and middleware that simplifies routing, handling HTTP requests and responses.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular is a comprehensive front-end framework maintained by Google. It facilitates the creation 
      of dynamic and interactive single-page applications (SPAs).</p>
  </div>
  <div class="col-md-4">
    <h3>Node.js</h3>
    <p>Node.js is a JavaScript runtime environment built on Chrome's V8 engine. It allows 
      developers to execute JavaScript code outside the browser, making it possible to run JavaScript on
       the server-side.</p>
  </div>
</div>